# Dependencies
node_modules/
miniprogram_npm/

# Build output
.tmp/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Logs
*.log
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment
.env
.env.local

# Misc
.project
.idea

# Terminal Paste Image folder
.cp-images/
